.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.welcome {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.instructions {
  text-align: center;
  color: #333333;
  margin-bottom: 5px;
}
